<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark">
        <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('newPatient') }}">Add Patients</a></li>
                    <li class="nav-item"><a href="{{ url_for('view') }}">View Patients</a></li>
                    <li class="nav-item"><a href="{{ url_for('search') }}">Search Patients</a></li>
                    <li class="nav-item"><a href="{{ url_for('logout') }}">logout</a></li>
                </ul>
            </nav>
            <hr style="clear:both">
<h1 style="padding-left:750px; color:white">Xplore Hospital</h1>
        <div class="" style="padding-left:650px; color:white">
        <small class="text-muted">
           <h5> <a class="font-weight-bold" style="color:white" href="{{ url_for('logout') }}">LogOut</a>
        </h5></small>
    </div>
  <!-- Links -->
</nav>
<!--<main role="main" class="container">-->

<!--    <div class="row">-->
<!--        <div class="col-md-8">-->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
<!--        </div>-->

<!--    </div>-->
<!--</main>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
